.footer{
    color: #d3d3d3;
    height: 150px;
    position: relative;
    text-align: bottom;
}

.footer .footer-content{
    height: 150px;
    color : #fff;
}
.media{
    position: absolute;
    top: 20%;
    left: 50%;
    transform:  translate(-53%, -50%);
}
li{
    list-style: none;
    display: center;
    margin: 20px 30px;
    font-size : 20px;
    padding: 20px 0px;
    color : black;
    border-radius: 50%;
    text-align: center;
}
a{
    text-decoration: none; /*밑줄 없앰*/
    text-align: bottom;
}