.category2-img {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    height:400px;
    width: 250;
}
.category3-img {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    height:400px;
    width: 250;
}

.category4-img {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    height:400px;
    width: 250;
}

.category5-img {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    height:400px;
    width: 250;
}

.category6-img {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    height:400px;
    width: 250;
}

.category7-img {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    height:400px;
    width: 250;
}

.category8-img {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    height:400px;
    width: 250;
}

.category9-img {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    height:400px;
    width: 250;
}

.category10-img {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    height:400px;
    width: 250;
}


.category11-img {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    height:400px;
    width: 250;
}

.category12-img {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    height:400px;
    width: 250;
}

.category13-img {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    height:400px;
    width: 250;
}